@model Car
<head>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img class="img-thumbnail imgStyleCard" style="height:250px" src="@Model.img" alt="@Model.name" />
            <div class="card-body">
                <h4>@Model.name</h4>
                <p class="card-text">@Model.shortDesc</p>
                <p class="card-text">Price: @Model.price.ToString("c")</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a asp-controller="ShopCart" asp-action="addToCard" asp-route-id="@Model.id">Add to cart</a></button>
                    </div>
                    <small class="text-muted">@DateTime.Now</small>
                </div>
            </div>
        </div>
    </div>

</body>
